<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>618114582605-0s590jmrbsgvdc2k4j1eped6146ok1ir.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.618114582605-0s590jmrbsgvdc2k4j1eped6146ok1ir</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>618114582605-pb4e6rn7epsgkdbjmtvqgdqfq6m8o7nk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCnXGjSawa3c2DRzsM3LDOEolPkHVQTR9g</string>
	<key>GCM_SENDER_ID</key>
	<string>618114582605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.diuEvents</string>
	<key>PROJECT_ID</key>
	<string>diuevents-3ecd4</string>
	<key>STORAGE_BUCKET</key>
	<string>diuevents-3ecd4.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:618114582605:ios:c459575d772f520eba7404</string>
	<key>DATABASE_URL</key>
	<string>https://diuevents-3ecd4-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>